### Decouverte des donnees

In [2]:
# importer les packages
import os
import pandas as pd
import matplotlib.pyplot as plt
import  seaborn as sns

In [5]:
# Collecter les noms des fichiers
files = [ file for file in os.listdir(r'C:\Users\cedri\DataspellProjects\DataAnalyticsP1\data-sales-main')]
for file in files :
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [7]:
path= r'C:\Users\cedri\DataspellProjects\DataAnalyticsP1\data-sales-main'

#creer une base de donnees vide
all_data=pd.DataFrame()

for file in files:
    current_data=pd.read_csv(path+'/'+file)
    all_data=pd.concat([all_data,current_data])

print(all_data)

      Order ID                     Product Quantity Ordered Price Each  \
0       176558        USB-C Charging Cable                2      11.95
1          NaN                         NaN              NaN        NaN
2       176559  Bose SoundSport Headphones                1      99.99
3       176560                Google Phone                1        600
4       176560            Wired Headphones                1      11.99
...        ...                         ...              ...        ...
11681   259353      AAA Batteries (4-pack)                3       2.99
11682   259354                      iPhone                1        700
11683   259355                      iPhone                1        700
11684   259356      34in Ultrawide Monitor                1     379.99
11685   259357        USB-C Charging Cable                1      11.95

           Order Date                         Purchase Address
0      04/19/19 08:46             917 1st St, Dallas, TX 75001
1                 NaN                                      NaN
2      04/07/19 22:30        682 Chestnut St, Boston, MA 02215
3      04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
4      04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
...               ...                                      ...
11681  09/17/19 20:56   840 Highland St, Los Angeles, CA 90001
11682  09/01/19 16:00  216 Dogwood St, San Francisco, CA 94016
11683  09/23/19 07:39     220 12th St, San Francisco, CA 94016
11684  09/19/19 17:30   511 Forest St, San Francisco, CA 94016
11685  09/30/19 00:18   250 Meadow St, San Francisco, CA 94016

[186850 rows x 6 columns]

In [8]:
all_data.to_csv(path+'/all_data.csv',index=False)

In [9]:
all_data.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [10]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [12]:
all_data.isnull().sum().sum()

3270

In [13]:
#Supprimer les valeur manquantes
all_data = all_data.dropna(how='all')

all_data.shape

(186305, 6)